<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationC</servlet-name>
        <servlet-class>controller.RegistrationC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginC</servlet-name>
        <servlet-class>controller.LoginC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewC</servlet-name>
        <servlet-class>controller.ReviewC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAjaxC</servlet-name>
        <servlet-class>controller.CheckAjaxC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAjaxC</servlet-name>
        <servlet-class>controller.ProductAjaxC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePizzaC</servlet-name>
        <servlet-class>controller.MakePizzaC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutC</servlet-name>
        <servlet-class>controller.LogoutC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyC</servlet-name>
        <servlet-class>controller.BuyC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartC</servlet-name>
        <servlet-class>controller.CartC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryC</servlet-name>
        <servlet-class>controller.HistoryC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductC</servlet-name>
        <servlet-class>controller.AddProductC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPizzaC</servlet-name>
        <servlet-class>controller.AdminPizzaC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationC</servlet-name>
        <url-pattern>/RegistrationC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginC</servlet-name>
        <url-pattern>/LoginC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewC</servlet-name>
        <url-pattern>/ReviewC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAjaxC</servlet-name>
        <url-pattern>/CheckAjaxC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAjaxC</servlet-name>
        <url-pattern>/ProductAjaxC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePizzaC</servlet-name>
        <url-pattern>/MakePizzaC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutC</servlet-name>
        <url-pattern>/LogoutC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyC</servlet-name>
        <url-pattern>/BuyC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartC</servlet-name>
        <url-pattern>/CartC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryC</servlet-name>
        <url-pattern>/HistoryC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductC</servlet-name>
        <url-pattern>/AddProductC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPizzaC</servlet-name>
        <url-pattern>/AdminPizzaC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>indexJSP.jsp</welcome-file>
    </welcome-file-list>
</web-app>
